@import "./colours";

body {
    margin: 0;
    overflow-x: hidden !important;
    font-family: "Montserrat", sans-serif !important;
    background: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}


// banner
.standard-banner {
    width: 100%;
    height: 55vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: #222222;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 40px;
        color: $white;
        font-weight: 600;
    }
}

// placeholder-text-color
select {
    &.form-select {
        color: #6c757d;
    }
}

// cards
.small-card {
    box-shadow: 0px 3px 12px 0 #00000014;
    padding: 25px;
    border-radius: 5px;
    width: 100%;
    height: 240px;
}

// chip
.chip {
    background-color: $red;
    color: $white;
    font-size: 11px;
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 15px;
}