$default: linear-gradient(77deg,#f5286e,#090979);
// $greenGradient: linear-gradient(270deg,#76e672 0,#41c83e 100%);

$pink: #f5286e;
$blue: #090979;
$white: #ffffff;
$black: #000000;
$gray: #afafaf;
$darkGray: #727272;
