<div class="online-pharmacy">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="filter-bar">
                    <div class="row align-items-center mt-4">
                        <div class="col-md-8">
                            <h4>Online Pharmacy</h4>
                        </div>

                        <div class="col-md-4">
                            <div class="select-bar">
                                <input class="form-control" type="search" placeholder="Search Products">
                                <a href="#"><img src="https://i.ibb.co/n3kCshd/magnifying-glass.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="pharmacy-list">
                    <div class="row">

                        <div class="col-3">
                            <div class="tab-profile">
                                <img src="https://i.ibb.co/XXnBmyN/t1.jpg">

                                <div class="profile-content">
                                    <h3>Nexum Capsules 40 mg</h3>

                                    <div class="small-chip">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="tab-profile">
                                <img src="https://i.ibb.co/1GZmFFj/t2.jpg">

                                <div class="profile-content">
                                    <h3>Risek Capsules 20 mg</h3>

                                    <div class="small-chip">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="tab-profile">
                                <img src="https://i.ibb.co/rH6Xs38/t3.jpg">

                                <div class="profile-content">
                                    <h3>Ganaton OD Tablets 150 mg</h3>

                                    <div class="small-chip">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="tab-profile">
                                <img src="https://i.ibb.co/THMBVqt/t4.jpg">

                                <div class="profile-content">
                                    <h3>Eskem. Capsules 40 mg</h3>

                                    <div class="small-chip">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="tab-profile">
                                <img src="https://i.ibb.co/0hnHjwW/t5.jpg">

                                <div class="profile-content">
                                    <h3>Risek Insta Sachets 20 mg</h3>

                                    <div class="small-chip">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="tab-profile">
                                <img src="https://i.ibb.co/Ytg6YtZ/t6.jpg">

                                <div class="profile-content">
                                    <h3>Fenoget Capsules 200 mg</h3>

                                    <div class="small-chip">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="tab-profile">
                                <img src="https://i.ibb.co/cTh4x1M/t7.jpg">

                                <div class="profile-content">
                                    <h3>Fortius Tablets 10 mg</h3>

                                    <div class="small-chip">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="pharmacy-btn">
                    <a href="#" class="large-btn-blue">View All</a>
                </div>
            </div>

        </div>
    </div>
</div>