<div class="banner">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-8 col-lg-7">
                <div class="banner-content">
                    <h1>Quality Within Your Reach</h1>
                    <p>Experience the excellence of health services with our renowned specialists, comprehensive
                        diagnostics and collaborative care.</p>

                    <div class="banner-btn">
                        <a href="#" class="large-btn-red">View Our Services</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="online-services">
    <div class="container">
        <div class="row">

            <div class="col-4">
                <div class="small-card">
                    <img src="https://i.ibb.co/jgBMwxM/online1.png">
                    <h2>Find Doctor</h2>

                    <select class="form-select mt-2">
                        <option selected>Please Select</option>
                        <option value="1">Cardiology</option>
                        <option value="2">Emergency Medicine</option>
                        <option value="3">Dental Surgery</option>
                        <option value="4">Neurology</option>
                        <option value="5">General Physicians</option>
                        <option value="6">Dermatology</option>
                        <option value="7">ENT</option>
                        <option value="8">Hepatology</option>
                        <option value="9">Internal Medicine</option>
                        <option value="10">Nephrologist</option>
                    </select>

                    <div class="small-card-btn">
                        <a routerLink="/doctors" class="small-btn-blue">Search</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="small-card">
                    <img src="https://i.ibb.co/rH1my2Y/calendar.png">
                    <h2>Book An Appointment</h2>

                    <div class="mt-2">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>

                    <div class="small-card-btn">
                        <a routerLink="/appointment" class="small-btn-blue">Search</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="small-card">
                    <img src="https://i.ibb.co/714yWZt/medicine.png">
                    <h2>Online Pharmacy</h2>

                    <div class="mt-2">
                        <input type="text" class="form-control" placeholder="Search Products">
                    </div>

                    <div class="small-card-btn">
                        <a routerLink="/online-pharmacy" class="small-btn-blue">Search</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>