<div class="standard-banner">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <h1>Doctors</h1>
            </div>

        </div>
    </div>
</div>

<div class="doctor">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="filter-bar">

                    <div class="row">
                        <div class="col-md-3">
                            <h2>Choose A Doctors</h2>
                        </div>

                        <div class="col-md-9">
                            <div class="filter-inner">
                                <input type="text" class="form-control" placeholder="First Name">

                                <select class="form-select">
                                    <option selected value="1">Cardiology</option>
                                    <option value="2">Emergency Medicine</option>
                                    <option value="3">Dental Surgery</option>
                                    <option value="4">Neurology</option>
                                    <option value="5">General Physicians</option>
                                    <option value="6">Dermatology</option>
                                    <option value="7">ENT</option>
                                    <option value="8">Hepatology</option>
                                    <option value="9">Internal Medicine</option>
                                    <option value="10">Nephrologist</option>
                                    <option value="11">Specialites</option>
                                    <option value="12">Bariatric</option>
                                    <option value="13">Electrophysiology</option>
                                </select>

                                <div class="filter-btn">
                                    <a href="#" class="large-btn-blue d-block">Apply Filter</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12">
                <div class="doctor-list">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="dr-profile">
                                <img src="https://i.ibb.co/SJ5NB4q/dr1.webp">

                                <div class="profile-content">
                                    <h3>Dr. Bashir Hanif</h3>

                                    <div class="dr-btn">
                                        <a href="#" class="small-btn-blue">Book Appointment</a>
                                    </div>

                                    <div class="small-chip">
                                        <a href="#" class="chip">Cardiology</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="dr-profile">
                                <img src="https://i.ibb.co/7GGDM06/dr4.webp">

                                <div class="profile-content">
                                    <h3>Dr. Syed Khawar Abbas</h3>

                                    <div class="dr-btn">
                                        <a href="#" class="small-btn-blue">Book Appointment</a>
                                    </div>

                                    <div class="small-chip">
                                        <a href="#" class="chip">General Physicians</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="dr-profile">
                                <img src="https://i.ibb.co/GFMqYSg/dr3.webp">

                                <div class="profile-content">
                                    <h3>Dr. Nisar Roa</h3>

                                    <div class="dr-btn">
                                        <a href="#" class="small-btn-blue">Book Appointment</a>
                                    </div>

                                    <div class="small-chip">
                                        <a href="#" class="chip">Neurology</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="dr-profile">
                                <img src="https://i.ibb.co/fCDPrGg/Dr-Syed-Khawar-Abbas-Kazmi.webp">

                                <div class="profile-content">
                                    <h3>Dr. Dur Amin</h3>

                                    <div class="dr-btn">
                                        <a href="#" class="small-btn-blue">Book Appointment</a>
                                    </div>

                                    <div class="small-chip">
                                        <a href="#" class="chip">Urologist</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="dr-profile">
                                <img src="https://i.ibb.co/59vyMpg/dr6.webp">

                                <div class="profile-content">
                                    <h3>Dr. Dania Amir</h3>

                                    <div class="dr-btn">
                                        <a href="#" class="small-btn-blue">Book Appointment</a>
                                    </div>

                                    <div class="small-chip">
                                        <a href="#" class="chip">Internal Medicine</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="dr-profile">
                                <img src="https://i.ibb.co/JqrzvTQ/dr7.webp">

                                <div class="profile-content">
                                    <h3>Dr. Sellal Ahmed</h3>

                                    <div class="dr-btn">
                                        <a href="#" class="small-btn-blue">Book Appointment</a>
                                    </div>

                                    <div class="small-chip">
                                        <a href="#" class="chip">Cardiology</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="dr-profile">
                                <img src="https://i.ibb.co/3cr8sVd/dr5.webp">

                                <div class="profile-content">
                                    <h3>Dr. Azizullah Khan</h3>

                                    <div class="dr-btn">
                                        <a href="#" class="small-btn-blue">Book Appointment</a>
                                    </div>

                                    <div class="small-chip">
                                        <a href="#" class="chip">Infectious Diseases</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="doctor-btn">
                    <a href="#" class="large-btn-red">View All</a>
                </div>
            </div>

        </div>
    </div>
</div>