@import '../../../styles.scss';

.standard-banner {
    background-image: url(https://i.ibb.co/D9TCFHj/03.jpg);
}

.doctor {
    padding: 50px 0;

    .filter-bar {
        h2 {
            font-size: 25px;
            font-weight: 600;
            color: $black;
            padding-top: 5px;
        }

        .filter-inner {
            display: flex;
            justify-content: space-between;

            input,
            select {
                width: 40%;
            }
        }

        .filter-btn {
            float: right;
        }
    }

    .doctor-list {
        padding-top: 40px;

        .dr-profile {
            box-shadow: 0px 3px 12px 0 rgb(0 0 0 / 10%);
            border-radius: 5px;
            width: 100%;
            height: 410px;
            margin-top: 30px;

            img {
                width: 100%;
                height: 280px;
                object-fit: cover;
                object-position: center;
                border-radius: 5px 5px 0 0;
                border-bottom: 1px solid #d7d7d7;
            }

            .profile-content {
                padding: 15px;

                h3 {
                    font-size: 18px;
                    font-weight: 600;
                    color: $black;
                }

                .dr-btn {
                    margin-top: 15px;
                }

                .small-chip {
                    margin-top: 15px;
                }
            }
        }
    }

    .doctor-btn {
        margin-top: 4rem;
        text-align: center;
    }
}