@import '../../../styles.scss';

.about-us {
    padding: 50px 0;

    .left-content {
        h2 {
            font-size: 35px;
            font-weight: 600;
            color: $black;
        }

        h6 {
            padding-top: 10px;
            font-size: 16px;
            color: $blue;
        }

        p {
            padding-top: 15px;
            font-size: 15px;
            color: $darkGray;
        }
    }

    .right-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150vh;

        img {
            width: 100%;
            height: 100vh;
            border-radius: 5px;
        }
    }
}