<div class="about-us">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="row">
                    <div class="col-7">
                       <div class="left-content">
                        <h2>About Us</h2>
                        <h6>Welcome to Health Care Checkup!</h6>
                        <p class="pt-5">Every day thousands of people enter the gates of Liaquat National Hospital (LNH) seeking medical attention for themselves or their loved ones. With an undying commitment to excellence that meets international standards, regulations and quality systems, we make sure that the patient’s needs are met satisfactorily under a single roof. Liaquat National Hospital is located in the center of the bustling city of Karachi near the National Cricket Stadium. Owing to this unique location LNH has easy access from all quadrants of the city.</p>
                        <p>LNH was conceived in 1950 by Syed Wajid Ali Shah and his associates and officially inaugurated in 1958 as a not-for-profit organization with a vision to provide quality healthcare at an affordable cost to all socioeconomic classes. Over the years, the hospital has evolved to become the largest tertiary care hospital in the country with more than 700 beds. We also have the largest number of ICU beds and ventilators in the city. The hospital excels in all facets of medicine, surgery, diagnostics and medical support services. LNH houses more than 35 specialties. Considering patient’s care as priority, we provide 24 hour emergency services, acute care, inpatient, outpatient and day care facilities not only to the city but also to patients from the far reaching corners of Sindh, Balochistan, Khyber Pakhtunkhwa and Punjab.</p>
                        <p>LNH has pioneered in a number of specialties such as breast surgery, hand surgery, arthroscopy and LASIK. We are also developing other sub-specialties like Paediatric Development Unit, Sports Injury Unit, Geriatric medicine, Paediatric Cardiology and Colchlear implant procedure. These disciplines are headed by highly specialized and trained doctors. Liaquat National Hospital is renowned for its post graduate training and fellowships in multiple surgical and medical specialties and subspecialties. We have a close affiliation with College of Physicians and Surgeons of Pakistan. We also enjoy the privilege of being a principal teaching hospital recognized by the different Royal Colleges of the United Kingdom, Scotland and Ireland.</p>
                        <p>We take pride in the fact that we serve with compassion, empathy and utmost care in case of any emergencies, accidents or calamities that occur in the city. We believe that anyone and everyone who needs medical attention is our concern. The doors of Liaquat National Hospital are ever welcoming to those in need. Affordable consultation and treatment along with the latest facilities and availability of social welfare services for financial sponsorship has earned LNH the name of “The Last Resort” for patients both locally and nationally.</p>
                       </div>
                    </div>

                    <div class="col-5">
                        <div class="right-img">
                            <img src="https://i.ibb.co/pQcMRMP/a2.jpg">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>