<div class="appointment">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-10">
                <h1>Book Appointment</h1>
            </div>

            <div class="col-12 col-md-12 col-lg-10">
                <div class="appointment-form">
                    <div class="row">

                        <div class="col-6 mb-3">
                            <label class="form-label">Patient Name</label>
                            <input type="text" class="form-control" placeholder="Patient Name">
                        </div>

                        <div class="col-6 mb-3">
                            <label class="form-label">Patient Age</label>
                            <input type="number" class="form-control" placeholder="Patient Age">
                        </div>

                        <div class="col-6 mb-3">
                            <label class="form-label">Gender</label>
                            <select class="form-select">
                                <option selected>Select Gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="form-label">Address</label>
                            <input type="text" class="form-control" placeholder="Address">
                        </div>

                        <div class="col-6 mb-3">
                            <label class="form-label">Mobile Number</label>
                            <input type="number" class="form-control" placeholder="Mobile Number">
                        </div>

                        <div class="col-6 mb-3">
                            <label class="form-label">Email Address</label>
                            <input type="email" class="form-control" placeholder="name@example.com">
                        </div>

                        <div class="col-6 mb-3">
                            <label class="form-label">Specialty</label>
                            <select class="form-select">
                                <option selected>Select Specialty</option>
                                <option value="1">Emergency Medicine</option>
                                <option value="2">Dental Surgery</option>
                                <option value="3">Neurology</option>
                                <option value="4">General Physicians</option>
                                <option value="5">Dermatology</option>
                                <option value="6">ENT</option>
                                <option value="7">Hepatology</option>
                                <option value="8">Internal Medicine</option>
                                <option value="9">Nephrologist</option>
                                <option value="10">Specialites</option>
                                <option value="11">Bariatric</option>
                                <option value="12">Electrophysiology</option>
                            </select>
                        </div>

                        <div class="col-6 mb-3">
                            <label class="form-label">Doctor</label>
                            <select class="form-select">
                                <option selected>Select Doctor</option>
                                <option value="1">Dr. Waseem Roa</option>
                                <option value="2">Dr. Rehman Gul</option>
                                <option value="3">Dr. Dr. Dur Amin</option>
                                <option value="4">Dr. Bashir Hanif</option>
                                <option value="5">Dr. Syed Khawar Abbas</option>
                                <option value="6">Dr. Dania Amir</option>
                                <option value="7">Dr. Sellal Ahmed</option>
                                <option value="8">Dr. Azizullah Khan</option>
                                <option value="9">Dr. Nisar Roa</option>
                            </select>
                        </div>

                        <div class="col-6 mb-3">
                            <label for="dob" class="form-label">Appointment Date</label>
                            <input type="date" class="form-control" id="dob" placeholder="Select your date of birth">
                        </div>

                        <div class="col-12 mb-3">
                            <label>Message</label>
                            <textarea class="form-control" rows="4" placeholder="Enter Your Message"></textarea>
                        </div>

                        <div class="col-12">
                            <div class="appointment-btn">
                                <a href="#" class="large-btn-blue">Book Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>