@import '../../../../styles.scss';

.footer {
    padding: 50px 0;
    box-shadow: 1px -5px 15px 0 rgba(0, 0, 0, 0.05);

    .logo-side {
        h2 {
            font-size: 18px;
            text-transform: uppercase;
            color: $black;
        }

        P {
            font-size: 14px;
            padding-top: 10px;
            color: $darkGray;
        }

        .logo-btn {
            margin-top: 25px;
        }
    }

    .list-side {
        h2 {
            font-size: 18px;
            text-transform: uppercase;
            color: $black;
        }

        ul {
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;

            li {
                padding-top: 10px;

                a {
                    color: black;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }

        .social-icons {
            margin-top: 15px;
            a {
                img {
                    background-color: $blue;
                    width: 30px;
                    height: 30px;
                    padding: 4px;
                    border-radius: 5px;
                    margin-right: 3px;
                }
            }
        }
    }
}