<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-4">
                <div class="logo-side">
                    <h2>Health Care Checkup</h2>
                    <p>Every day thousands of people enter the gates of Health Care Checkup (HCC) with someone close to
                        them in need of medical attention</p>

                    <div class="logo-btn">
                        <a href="#" class="large-btn-red">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="list-side">
                    <h2>Information</h2>
                    <ul>
                        <li><a href="#">Locations</a></li>
                        <li><a href="#">OPD Schedule</a></li>
                        <li><a href="#">Patient's Guide</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Facilities</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-3">
                <div class="list-side">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="">About Health Care Checkup</a></li>
                        <li><a href="#">Find a Specialist</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-2">
                <div class="list-side">
                    <h2>Follow Us</h2>

                    <div class="social-icons">
                        <a href="#"><img src="https://i.ibb.co/YpQ79qt/facebook.png"></a>
                        <a href="#"><img src="https://i.ibb.co/V26n5Jp/whatsapp.png"></a>
                        <a href="#"><img src="https://i.ibb.co/KKBKcNV/twitter.png"></a>
                        <a href="#"><img src="https://i.ibb.co/LNjBJ4y/instagram.png"></a>
                        <a href="#"><img src="https://i.ibb.co/RTxQq7b/linkedin-1.png"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>